/* Background for the level */
.level0 {
  background-image: url("images/windowsbackground.jpeg");
  background-repeat: no-repeat;
  width: 500px;
  background-size: 100% 100%;
}



#startBar{
  background-color: #2255b2;
  bottom: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
}

#startBtnPic{

  width: 7%;
  bottom: 0;
}