html {
    scroll-behavior: smooth;
    image-rendering: pixelated;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* Pixel size for different screen sizes */
:root {
    --pixel-size: 2px;
    --grid-cell: calc(var(--pixel-size) * 16);
}

@media(min-width: 700px) {
    :root {
        --pixel-size: 3px;
    }
}

@media(min-width: 1000px) {
    :root {
        --pixel-size: 4px;
    }
}


/* Render images as pixelated */
.pixel-art {
    image-rendering: pixelated;
}

/* Div that holds the active character frame from the animation */
.character {
    width: calc(var(--grid-cell)* 2);
    height: calc(var(--grid-cell)* 2);
    position: absolute;
    overflow: hidden;
    z-index: 100;
}

/* Div for the character spritesheet for walk animation */
.characterSpritesheet {
    position: absolute;
    background: url("images/binaryescapemalecharacter1.png") no-repeat no-repeat;
    background-size: 100%;
    width: calc(var(--grid-cell)* 8);
    height: calc(var(--grid-cell)* 8);
}

.character[facing="right"] .characterSpritesheet {
    background-position-y: calc(var(--pixel-size) * -32);
}

.character[facing="up"] .characterSpritesheet {
    background-position-y: calc(var(--pixel-size) * -64);
}

.character[facing="left"] .characterSpritesheet {
    background-position-y: calc(var(--pixel-size) * -96);
}

.character[walking="true"] .characterSpritesheet {
    animation: walkAnimation 0.6s steps(4) infinite;
}

@keyframes walkAnimation {
    from {
        transform: translate3d(0%, 0%, 0);
    }

    to {
        transform: translate3d(-100%, 0%, 0);
    }



}