html {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    image-rendering: auto !important;
}

#skypeInterface {
    text-align: center;
    margin-top: 10%;
}

#problemssigninginbutton {
    position: absolute;
    bottom: 5%;
    right: 65%
}

#enternewpassword {
    position: absolute;
    bottom: 5%;
    right: 25%;
}

#popup,
#passwordPopup {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: #fff;
    border: 2px solid #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#popup h2,
#passwordPopup h2 {
    margin-top: 0;
    font-family: Andale Mono;
    font-weight: bold;
}

#binary-sequence {
    font-family: Andale Mono;
}

/* #popup button,  */
#passwordPopup button {
    margin-top: 10px;
}

#questions {
    padding: 5px 5px;
    font-family: Andale Mono;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.question {
    margin: 10px 0;
    font-size: 12px;
}

.question-header {
    font-weight: bold;
}

.question-text {
    font-weight: normal;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    font: inherit;
    color: #1899D6;
    width: 12px;
    height: 12px;
    display: inline-flex;
    border: 0.15em solid #1899D6;
    border-radius: 25%;
    transform: translateY(-0.075em);
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid #1899D6;
    outline-offset: max(2px, 0.15em);
}

.true-option,
.false-option {
    font-weight: bold;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

#congratulations {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: #fff;
    border: 2px solid #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#congratulations img {
    width: 100%;
    max-width: 400px;
}

#congratulations .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#close-button,
#check-button,
#problemssigninginbutton button,
#submitPassword,
#closeBttn,
#signInBtnSkype {
    margin: 10px 0;
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .8px;
    outline: none;
    overflow: visible;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    height: 36px; 
    line-height: 36px; 
    padding: 0 16px; 
}

#signInBtnSkype{
width: 8%;
}

#close-button :after,
#check-button :after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#close-button :main,
#check-button :main,
#close-button :focus,
#check-button :focus {
    user-select: auto;
}

#close-button :hover:not(disabled),
#check-button :hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

#close-button :disabled,
#check-button :disabled {
    cursor: auto;
}

#close-button :active,
#check-button :active {
    border-width: 4px 0 0;
    background: none;
}

#skypeLogo{
    width: 200px;
}

#skypeInput{
    border: none;
    background-color: white;
    height: 5%;
    width: 20%;
    border-bottom: #00aff0 1px solid;
    margin-top: 7%;
}

#noConnectionMsg{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    margin-top: 1%;

}

#blueErrorIcon{
    width: 15px !important;
    height: 15px !important;
}

#creatAccount{
    font-family: Arial, Helvetica, sans-serif;
    color:#1899D6;
    cursor: pointer;
    width: 10%;
    margin: auto;
    margin-top: 2%;
}