html {
  overflow: hidden;
}

/* Background for the level */
.level-desktop {
  /* background-image: url("../desktop/images/windowsbackground.jpeg");  */
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1B1B1B;
}

/* Intro div with the opening dialogue */
#introDiv {
  background-color: #1B1B1B;
  width: auto;
  height: 800px;
  transition: background-color 8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: seashell;
  font-family: 'Courier New', Courier, monospace;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 1s;
  display: none;
}

/* Div for the intro dialogue lines */
#introTextBox {
  font-size: x-large;
  font-family: monospace;
  padding-top: 27%;
}

/* Div that holds the desktop view, initially set to none */
#desktopDiv {
  display: none;
}

/* Fade-in and fade-out classes */
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}


/****************** HOW TO PLAY POP UP *********************/


/* How to play pop up window */
.howToPlayWindow {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda, inset 3px 3px #0855dd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 0 3px;
  background: #ffffff;
  display: none;
}

/* How to play pop up window text */
#howToPlayText {
  color: black;
  padding: 10px;
  font-family: monospace;
}

/* Task bar background coloring  */
.titleBar {
  background: linear-gradient(180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7);
  padding: 3px 5px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-size: 14px;
  text-shadow: 1px 1px #0f1089;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

/* How to play title bar buttons */
.titleBar button {
  min-width: 15px;
  min-height: 15px;
  margin-left: 2px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #0050ee;
  border: none;
  padding: 0;
  float: right;
  cursor: pointer;
}

/* Closing icon on the how to play pop up */
.titleBar img {
  height: 18px;
  transform: translateY(3px);
}

/* How to play menu bar buttons (file, edit, etc) */
.menuBar {
  height: 21px;
  font-size: 14px;
  line-height: 20px;
  color: black;
  background-color: #E9EADA;
  border-bottom: 1px solid #939498;
  width: calc(100% - 4px);
  margin: 0 2px;
}

.menuBar span {
  display: inline-block;
  padding: 0 6px;
  cursor: pointer;
  border: 1px solid transparent;
}


/****************** LEVEL ICON STYLING *********************/


/* Hides level icons by default, displays when unlocked */
#IEIcon,
#instagramIcon,
#wordIcon,
#skypeIcon {
  display: none;
}

/* Sets text color and pointer for level icons */
.levelIcons {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

/* Div to hold the level icon and name of the level */
.icon .iconName {
  font-family: calibri, monospace;
  font-size: 11px;
  line-height: 15px;
  height: 28px;
  width: 60px;
  text-align: center;
  margin-left: 9px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.icon {
  width: 80px;
  cursor: pointer;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 8px;
  padding: 5px;
}

/* Sets the hover over icons */
.icon:hover {
  background-color: rgba(106, 168, 239, 0.5);
  outline: 1px solid rgba(106, 168, 239);
}

/* Sets the img styling for the icons */
.icon img {
  width: 58px;
  display: block;
  margin: 0 auto;
}

.recycleBin {
  position: absolute;
  right: 8px;
  bottom: 36px;
}


/****************** TASK BAR STYLING *********************/


/* Task bar styling */
#taskBar {
  background: linear-gradient(180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7);
  padding: 3px 0px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-size: 14px;
  text-shadow: 1px 1px #0f1089;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  position: fixed;
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 0;
}

/* Start button styling */
.startButton {
  height: 100%;
  float: left;
  font-size: 22px;
  line-height: 22px;
  font-weight: lighter;
  font-style: italic;
  background: radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover no-repeat;
  box-shadow: 0px 5px 10px #79ce71 inset, 4px 0 3px #3f8cf3;
  padding: 2px 25px 6px 10px;
  text-shadow: 1px 1px 3px #222;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

/* Start button image styling */
.startButton img {
  height: 20px;
  filter: drop-shadow(1px 1px 1px #222);
  transform: translateY(4px);
}

/* Time display styling */
.time {
  height: auto;
  float: right;
  font-family: calibri, monospace;
  font-size: 12px;
  line-height: 12px;
  background: linear-gradient(to bottom, #1290E9 0%, #19B9F3 9%, #1290E9 18%, #1290E9 92%, #1941A5 100%) center / cover no-repeat;
  box-shadow: 0px 5px 10px #14A5F0 inset, 0px 5px 10px #333333;
  padding: 9px 15px 9px 25px;
  border-left: 1px solid #092E51;
  text-shadow: 1px 1px 2px #222;
  cursor: pointer;
  text-transform: uppercase;
}