/* Background for the level */
.level0 {
  background-image: url("../desktop/images/windowsbackground.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Menu bar styling */
#menuBar {
  background: linear-gradient(180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7);
  padding: 3px 0px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-size: 14px;
  text-shadow: 1px 1px #0f1089;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  position: fixed;
  width: 100%;
  height:25px;
  bottom: 0;
  left: 0;
}

/* Start button styling */
.startButton {
  height: 100%;
  float: left;
  font-size: 22px;
  line-height: 22px;
  font-weight: lighter;
  font-style: italic;
  background: radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover no-repeat;
  box-shadow: 0px 5px 10px #79ce71 inset, 4px 0 8px #3f8cf3;
  padding: 2px 25px 6px 10px;
  text-shadow: 1px 1px 3px #222;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

/* Start button image styling */
.startButton img {
  height: 20px;
  filter: drop-shadow(1px 1px 1px #222);
  transform: translateY(4px);
}

/* Time display styling */
.time {
  height: auto;
  float: right;
  font-family: calibri, monospace;
  font-size: 12px;
  line-height: 12px;
  background: linear-gradient(to bottom, #1290E9 0%, #19B9F3 9%, #1290E9 18%, #1290E9 92%, #1941A5 100%) center / cover no-repeat;
  box-shadow: 0px 5px 10px #14A5F0 inset, 0px 5px 10px #333333;
  padding: 9px 15px 9px 25px;
  border-left: 1px solid #092E51;
  text-shadow: 1px 1px 2px #222;
  cursor: pointer;
  text-transform: uppercase;
}


.icon .iconName {
  font-family: calibri, monospace;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
  width: 80px;
  text-align: center;
  margin-left: 9px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}


.icon {
  width: 100px;
  cursor: pointer;
  margin: 8px 0;
  padding: 5px;
}

.icon img {
  width: 58px;
  display: block;
  margin: 0 auto;
}

.recycleBin {
  position: absolute;
  right: 8px;
  bottom: 36px;
}