/* Limits the viewable screen - no scrolling allowed */
html {
    overflow: hidden;
}

#youtubeMenuBar {
    display: flex;
    align-items: center;
    /* Align items vertically centered */
    padding-top: 1.5%;
}

#youtubeLogo,
#searchYTDiv,
#hamburgerYoutube {
    display: inline-block;
    /* Ensures that these elements are aligned horizontally */
}


#youtubeLogo {
    width: 8%;
    margin-left: 2%;
}

#hamburgerYoutube {
    width: 1.7%;
    margin-left: 2%;

}

#searchYTInput {
    border: none;
    border-right: solid 1px gray;
    width: 88%;
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 60%;
}

#searchYoutubeIcon {
    width: 3%;
    padding-left: 3.5%;
}

#searchYTDiv {
    border: 1px solid gray;
    width: 40%;
    padding: 0;
    margin: 0;
    border-radius: 2px;
    height: 32px;
    margin-left: 18%;
    display: flex;
    align-items: center; 
}

#menuDots{
    width: 1.5%;
    margin-left: 18%;
}

#signInBtnYT{
    border: none;
    border: 1px solid rgb(66 133 244);
    color: rgb(66 133 244);
    font-weight: 700;
    background-color: white;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 1%;
}

#videoDiv {
    display: flex;
    align-items: center;
    /* Vertically center the input field next to the video */
    justify-content: flex-start;
    margin-top: 3%;
    margin-left: 8%;
}

#passcodeYTDiv {
    margin-left: 25px;
    text-align: center;
    /* border: solid 2px orange; */
    width: 30%;
}

#passwordYTInput {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#YTSubmitBtn{
    border: none;
    background-color: white;
    padding: 8px 15px;
    border: 1px solid #ccc;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    cursor: pointer;

}

#YTSubmitBtn:hover{
    background-color: #FF0000;
    color: white;
}

#characterContainer {
    position: relative;
    display: inline-block; 
}

#characterYT {
    position: relative;
    z-index: 1; 
}

#charSpeechText{
    margin-top: 3%;
}

#prisonBars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; 
    pointer-events: none;
}

#descriptionText{
    margin-left: 8%;
    margin-top: 18px;

}

#YTTitle{
    font-size: 20px;
}

#profileContainer {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-top: 5px;
}

#profilePicCat {
    width: 43px;
    border-radius: 50%;
    margin-right: 10px;
}

#profileName {
    margin: 0; 
    font-size: 16px; 
}

#views{
    color: rgb(120, 117, 117);
    margin: 0;
    font-size: smaller;
}

.actionBar {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #606060;
    margin-left: 24.5%;
}

.actionItem {
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.actionItem i {
    margin-right: 5px;
    font-size: 16px;
}

.actionItem span {
    font-weight: 500;
}

.actionItem:last-child {
    margin-right: 0;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  







/* Clippy Styling */

.agent {
    display: flex;
    position: absolute;
    bottom: 8.5rem;
    /* Change positioning of clippy */
    right: 16rem;
    /* Can change bottom and right to top and left, etc.  */
}

.clippy {
    position: fixed;
    width: 250px;
    /* Can change width size accordingly */
    height: 150px;
    /* Can change height size */
}

p #hint {
    padding: 0;
    margin: 0;
}

.speech-bubble {
    position: absolute;
    bottom: -30px;
    left: 40px;
    font-size: 16px;

    background: #eee9ad;
    border-radius: .4em;
    border: 1px solid black;
    width: 10rem;
    padding: 10px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-top-color: #eee9ad;
    border-right: 0;
    border-bottom: 0;
    margin-left: -16.5px;
    margin-bottom: -33px;
}

.speech-bubble:before {
    content: '';
    position: absolute;
    bottom: 0.25px;
    left: 50%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-top-color: black;
    border-right: 0;
    border-bottom: 0;
    margin-left: -16px;
    margin-bottom: -34.5px;
}