.oldWikiHeaderContainer {
    float: right;
    width: 88%;
}

.oldWikiHeader {

    border-bottom: gray 1px solid;
    padding-bottom: 5px;
    padding-top: 5px;
}

.wikiBody {
    /* width: 70%; */
    margin: 2%;
}


.wikiText span {
    color: blue;
    text-decoration: underline;
}

.oldWikiSidebar {
    width: 11%;
    margin-left: 10px;
    border-right: gray 1px solid;
    text-align: center;
    padding-top: 5px;
}

.oldWikiSidebarLinks {
    border-top: 2px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    width: 90%;
    margin: auto;
}

.oldWikiHeaderLinks a,
.oldWikiHeaderSearchBarLogin a,
.oldWikiSidebarLinks a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}


.oldWikiHeaderSearchBarLogin {
    float: right;
    text-align: right;
    padding-right: 10px;
}

.oldWikiLogo {
    width: 150px;
    padding-bottom: 10px;
}