/* Limits the viewable screen - no scrolling allowed */
html {
    overflow: hidden;
}


/* Wiki header, side bar, and search area */
.oldWikiHeaderContainer {
    float: right;
    width: 88%;
}

.oldWikiHeader {
    border-bottom: gray 1px solid;
    padding-bottom: 5px;
    padding-top: 5px;
}

.wikiBody {
    margin: 2%;
}

#wikiText span {
    color: blue;
    text-decoration: underline;
}

.oldWikiSidebar {
    width: 11%;
    margin-left: 10px;
    border-right: gray 1px solid;
    text-align: center;
    padding-top: 5px;
}

.oldWikiSidebarLinks {
    border-top: 2px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    width: 90%;
    margin: auto;
}

.oldWikiHeaderLinks a,
.oldWikiHeaderSearchBarLogin a,
.oldWikiSidebarLinks a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.oldWikiHeaderSearchBarLogin {
    float: right;
    text-align: right;
    padding-right: 10px;
}

.oldWikiLogo {
    width: 150px;
    padding-bottom: 10px;
}



/* Alien link and trigger div for the character to hit and trigger JS function to open decoder pop up */
#alienLink {
    color: purple;
}

.alienLinkDiv {
    width: 10px;
    height: 1px;
    margin-left: 130px;
}



/* Bug report pop up and trigger div for character to hit */
.bugReportPopUp {
    background-color: lightgrey;
    text-align: center;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    width: 80px;
    height: min-content;
    display: none;
}

.bugReportsLinkDiv {
    width: 10px;
    height: 1px;
    margin-left: 20px;
}



/* Decoder div pop up */
.decoderDiv {
    width: 1000px;
    height: 600px;
    display: none;
    background-color: rgba(82, 75, 73, 0.8);
    backdrop-filter: blur(7px);
    position: absolute;
    justify-content: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#closeDecoderDiv {
    color: seashell;
    float: right;
    padding: 10px;
    font-size: larger;
    cursor: pointer;
}

#binaryTextInput {
    margin-top: 3%;
    padding: 1%;
    border: none;
    background-color: rgba(51, 50, 50, .3);
    border-bottom: #6C8D9B solid 3px;
    color: seashell;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#binaryTextInput:focus {
    outline: none;
}

#binaryTextInputSubmit,
#binaryTextInputClear {
    margin-top: 2%;
    background-color: rgba(51, 50, 50, .3);
    color: seashell;
    border: none;
    padding: 1%;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#saturnImg {
    width: 140px;
    height: 220px;
    margin-top: 3%;
    margin-bottom: 1%;
}

#saturnCompanyName {
    color: seashell;
    font-size: larger;
}

#decoderTextBox {
    margin-top: 2%;
    margin-bottom: 2%;
    color: seashell;
}

#letterSpotsContainer {
    display: inline;
}

.letterSpots {
    width: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid seashell;
    color: seashell;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-align: center;
}



/* Alien quiz div that pops up after correct search has been entered */
#alienQuizDiv {
    background-color: white;
    width: auto;
    height: 800px;
    display: none;
    transition: background-color 8s ease;
    text-align: center;
    color: seashell;
    font-family: 'Courier New', Courier, monospace;
}

#alienImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 425px;
    opacity: 0;
    transition: opacity 5s ease;
}

#alienChatBox {
    font-size: large;
    margin-top: 1%;
    height: 20px;
}

#multipleChoiceQuestion {
    margin: 1%;
}

#multipleChoiceAnswers,
#multipleChoiceQuestion {
    text-align: center;
    font-size: medium;
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
}

.answerOption {
    display: inline-block;
    width: 150px;
    padding: 1%;
    margin: .5%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgb(108, 141, 155);
    background-color: lightgray;
    color: black;
    transition: box-shadow .5s ease-in-out;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    font-size: 15px;
}

.answerOption:hover {
    box-shadow: 0px 8px 15px rgb(148, 181, 195);
}

#lossImgs {
    display: none;
}

#lossImgRight {
    position: absolute;
    top: 200px;
    right: 250px;
    width: 250px;
    opacity: 0;
    transition: opacity .7s ease;
}

#lossImgLeft {
    position: absolute;
    top: 200px;
    left: 250px;
    width: 250px;
    opacity: 0;
    transition: opacity .7s ease;
}



/* Clippy Styling */

.agent {
    display: flex;
    position: absolute;
    bottom: 17.65rem;
    /* Change positioning of clippy */
    right: 20rem;
    /* Can change bottom and right to top and left, etc.  */
}

.clippy {
    position: fixed;
    width: 400px;
    /* Can change width size accordingly */
    height: 300px;
    /* Can change height size */
}

p #hint {
    padding: 0;
    margin: 0;
}

.speech-bubble {
    position: absolute;
    bottom: -30px;
    left: 90px;
    font-size: 16px;

    background: #eee9ad;
    border-radius: .4em;
    border: 1px solid black;
    width: 12rem;
    padding: 10px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-top-color: #eee9ad;
    border-right: 0;
    border-bottom: 0;
    margin-left: -16.5px;
    margin-bottom: -33px;
}

.speech-bubble:before {
    content: '';
    position: absolute;
    bottom: 0.25px;
    left: 50%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-top-color: black;
    border-right: 0;
    border-bottom: 0;
    margin-left: -16px;
    margin-bottom: -34.5px;
}