/* ----------------- Word Window ---------------------*/
.word {
    width: 700px;
    min-width: 375px;
    min-height: 200px;
    height: 300px;
    width: 700px;
    
    .title-bar .title {
        background: url(images/winword8.png) no-repeat left center;
    }
    .content {
        border: 1px solid #848484;
        border-right-color: #ffffff;
        border-bottom-color: #ffffff;
        background: #848484 !important;
        height: 100%;
        width: 100%;
    }
    .content-box {
        border: 1px solid #424242;
        border-bottom: none;
        background: #848484;
        position: relative;
        width: 100%;
    }
    /****
    * Rullers
    ****/
    .top-ruler {
        height: 24px;
        background: #c0c0c0 url(images/window/ruler-mark.png) no-repeat left top;
        padding-left: 25px;
    }
    .top-ruler .ruler {
        background: url(images/window/horz-ruler.png);
        height: 24px;
        margin-left: 2px;
        margin-right: 20px;
    }
    .left-ruler {
        position: relative;
        width: 24px;
        background: #c0c0c0;
        float: left;
    }
    /****
    * Document
    ***/
    .document-scroller {
        overflow: scroll;
    }

    .document {
        margin: 5px auto 10px auto;
        background: #fff;
        border: 1px solid #000;
        box-shadow: 1px 1px 0 0 #000;
        width: 21cm;
    }
    .document-wrap::selection {
        background: #000;
        color: #fff;
    }
    /****
    * Status bar
    ***/
    .status-bar {
        margin-top: 5px;
        border-top: 1px solid #848484;
        background: url(images/window/status-bar-grip.png) no-repeat right bottom;
    }
    .status-bar-content {
        border-top: 1px solid #fff;
        padding: 4px 2px 2px 5px;
    }
    .status-bar .box {
        display: inline-block;
        border: 1px inset #fff;
        padding: 0px 5px;
        margin-right: 5px;
    }
    .status-bar .box.disabled {
        color: #848484;
    }
}

.word-file-context-menu {
    .context-menu-submenu.context-menu-visible > ul {
        width: 185px !important;
    }
    width: 208px;
    .context-menu-icon-updated {
        padding: 1px 0px 1px 2px !important;
    }
    .context-menu-item.context-menu-hover > a {
        border: 1px outset #fff !important;
    }
    .context-menu-icon-updated.context-menu-hover {
        background: none !important;
        p {
            background: navy;
        }
    }
    p {
        display: inline-block;
        width: 80%;
        margin: 0;
        padding-left: 2px;
    }
    a {
        vertical-align: middle;
        display: inline-block;
        border: 1px solid #c0c0c0;
        margin: 0px 0px;
        text-decoration: none;
        width: 18px;
        height: 18px;
        background: no-repeat center left;
    }
    .b-new {
        background-image: url(images/New.bmp);
    }
    .b-open {
        background-image: url(images/Open.bmp);
    }
    .b-save {
        background-image: url(images/save.bmp);
    }
    .b-print {
        background-image: url(images/print.bmp);
    }
    .b-preview {
        background-image: url(images/preview.bmp);
    }
    .b-mail {
        background-image: url(images/mail.bmp);
    }
}

.document-wrap {
    min-height: 300px;
}

/* ----------------- End Word Window ---------------------*/